In [44]:
import os
import pandas as pd
import matplotlib.pyplot as  plt
import re
import numpy as np
from scipy.stats import norm
import statistics
import seaborn as sns

In [13]:
base_dir = 'NLIQ_yearwise/'
folders = os.listdir(base_dir)

In [14]:

country_map ={folders[1]:'FINLAND',folders[2]:'SWEDEN',folders[3]:'VIETNAM'}
country_map

{'University of Helsinki': 'FINLAND',
 'University of Gothenburg': 'SWEDEN',
 'Hanoi University of Science _ Technology': 'VIETNAM'}

# Calculate NLIQ

In [15]:
cnt = 0 
d = {}
df = pd.DataFrame()

for i in folders[1:]:
    files = os.listdir(base_dir+i)
    files.sort()
    gl_cites = 0
    lo_cites = 0
    for j in files:
        cnt+=1
        path = base_dir+i+'/'+j
        with open(path, encoding="utf-16", errors='ignore') as f:
          contents = f.read()
        lines = contents.split('\n')
        print("st",i,lines[-3])

        for k in range(len(lines))[1:]:
            if 'display options' in lines[k]:
                break
            arr = lines[k].split('\t')
            if arr[0] == country_map[i]: 
                #print("11",arr,int(arr[1]))
                lo_cites += int(arr[1])
            else:
                gl_cites += int(arr[1])
        
        d = {
                'NLIQ': float(lo_cites)/float(gl_cites),
                'total_cites': int(lo_cites) + int(gl_cites),
                'local_cites':int(lo_cites),
                'global_cites':int(gl_cites),
                'file': i,
                'year': int(re.search('\d{4}',j).group(0)),
        }
        df = df.append(d,ignore_index=True)
        print(gl_cites,lo_cites,int(re.search('\d{4}',j).group(0)))
        print()

st University of Helsinki (0 Countries/Regions value(s) outside display options.)
10 3 2012

st University of Helsinki (12 Countries/Regions value(s) outside display options.)
155 31 2013

st University of Helsinki (30 Countries/Regions value(s) outside display options.)
522 102 2014

st University of Helsinki (32 Countries/Regions value(s) outside display options.)
973 161 2015

st University of Helsinki (44 Countries/Regions value(s) outside display options.)
1555 222 2016

st University of Helsinki (46 Countries/Regions value(s) outside display options.)
2170 269 2017

st University of Helsinki (53 Countries/Regions value(s) outside display options.)
2785 315 2018

st University of Helsinki (51 Countries/Regions value(s) outside display options.)
3405 363 2019

st University of Gothenburg (0 Countries/Regions value(s) outside display options.)
12 1 2012

st University of Gothenburg (2 Countries/Regions value(s) outside display options.)
81 13 2013

st University of Gothenburg (5 Countries/Regions value(s) outside display options.)
163 27 2014

st University of Gothenburg (15 Countries/Regions value(s) outside display options.)
301 44 2015

st University of Gothenburg (17 Countries/Regions value(s) outside display options.)
460 62 2016

st University of Gothenburg (14 Countries/Regions value(s) outside display options.)
601 73 2017

st University of Gothenburg (11 Countries/Regions value(s) outside display options.)
772 82 2018

st University of Gothenburg (19 Countries/Regions value(s) outside display options.)
995 89 2019

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
4 1 2012

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
15 1 2013

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
34 1 2014

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
74 3 2015

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
108 6 2016

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
131 7 2017

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
173 8 2018

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
199 9 2019

In [33]:
df.to_csv('results/yearwise_nliq.csv', index=False)

#  Plot timeseries NLIQ of 3 universities

In [57]:
for uni in country_map:
    print(uni)
    t = df[df['file'] == uni].sort_values(by='year',ascending=True)
    # Plot between -10 and 10 with .001 steps.
    x_axis = np.log10(t['NLIQ'])
    # Calculating mean and standard deviation
    mean = statistics.mean(x_axis)
    sd = statistics.stdev(x_axis)
    
    sns.displot(x_axis, kind="kde", fill=True)
    #plt.plot(x_axis, norm.pdf(x_axis, mean, sd))
    plt.savefig('graphs/Yearwise_timeseries_NLIQ/2'+uni+'.jpg')


    plt.close()
    #break

University of Helsinki
University of Gothenburg
Hanoi University of Science _ Technology

# Plot NLIQ VS total citations

In [30]:
for uni in country_map:
    t = df[df['file'] == uni].sort_values(by='year',ascending=True)
    print(uni)
    plt.scatter(np.log10(t['NLIQ']),np.log10(t['total_cites']))
    plt.plot(np.log10(t['NLIQ']),np.log10(t['total_cites']))
    plt.ylabel('total cites')
    plt.xlabel('NLIQ')
    plt.title('Plot of total cites VS NLIQ')
    plt.savefig('graphs/NLIQ_VS_totalcites/nliqVScites'+uni+'.jpg')
    plt.close()
    #break

University of Helsinki
University of Gothenburg
Hanoi University of Science _ Technology

,NLIQ,file,global_cites,local_cites,total_cites,year
0,0.300000,University of Helsinki,10.0,3.0,13.0,2012.0
1,0.200000,University of Helsinki,155.0,31.0,186.0,2013.0
4,0.122164,University of Helsinki,1719.0,210.0,1929.0,2014.0
5,0.123963,University of Helsinki,2170.0,269.0,2439.0,2015.0
3,0.102811,University of Helsinki,1352.0,139.0,1491.0,2016.0
2,0.101299,University of Helsinki,770.0,78.0,848.0,2017.0
6,0.113106,University of Helsinki,2785.0,315.0,3100.0,2018.0
7,0.106608,University of Helsinki,3405.0,363.0,3768.0,2019.0

In [38]:
x_axis = np.arange(-20, 20, 0.01)
x_axis

array([-20.  , -19.99, -19.98, ...,  19.97,  19.98,  19.99])