In [5]:
import os
import pandas as pd
import matplotlib.pyplot as  plt
import re

In [6]:
base_dir = 'NLIQ_yearwise/'
folders = os.listdir(base_dir)

In [7]:

country_map ={folders[1]:'FINLAND',folders[2]:'SWEDEN',folders[3]:'VIETNAM'}
country_map

{'University of Helsinki': 'FINLAND',
 'University of Gothenburg': 'SWEDEN',
 'Hanoi University of Science _ Technology': 'VIETNAM'}

# Calculate NLIQ

In [8]:
cnt = 0 
d = {}
df = pd.DataFrame()

for i in folders[1:]:
    files = os.listdir(base_dir+i)
    files.sort()
    gl_cites = 0
    lo_cites = 0
    for j in files:
        cnt+=1
        path = base_dir+i+'/'+j
        with open(path, encoding="utf-16", errors='ignore') as f:
          contents = f.read()
        lines = contents.split('\n')
        print("st",i,lines[-3])

        for k in range(len(lines))[1:]:
            if 'display options' in lines[k]:
                break
            arr = lines[k].split('\t')
            if arr[0] == country_map[i]: 
                #print("11",arr,int(arr[1]))
                lo_cites += int(arr[1])
            else:
                gl_cites += int(arr[1])
        
        d = {
                'NLIQ': float(lo_cites)/float(gl_cites),
                'total_cites': int(lo_cites) + int(gl_cites),
                'local_cites':int(lo_cites),
                'global_cites':int(gl_cites),
                'file': i,
                'year': int(re.search('\d{4}',j).group(0)),
        }
        df = df.append(d,ignore_index=True)
        print(gl_cites,lo_cites,int(re.search('\d{4}',j).group(0)))
        print()

st University of Helsinki (0 Countries/Regions value(s) outside display options.)
10 3 2012

st University of Helsinki (12 Countries/Regions value(s) outside display options.)
155 31 2013

st University of Helsinki (30 Countries/Regions value(s) outside display options.)
522 102 2014

st University of Helsinki (32 Countries/Regions value(s) outside display options.)
973 161 2015

st University of Helsinki (44 Countries/Regions value(s) outside display options.)
1555 222 2016

st University of Helsinki (46 Countries/Regions value(s) outside display options.)
2170 269 2017

st University of Helsinki (53 Countries/Regions value(s) outside display options.)
2785 315 2018

st University of Helsinki (51 Countries/Regions value(s) outside display options.)
3405 363 2019

st University of Gothenburg (0 Countries/Regions value(s) outside display options.)
12 1 2012

st University of Gothenburg (2 Countries/Regions value(s) outside display options.)
81 13 2013

st University of Gothenburg (5 Countries/Regions value(s) outside display options.)
163 27 2014

st University of Gothenburg (15 Countries/Regions value(s) outside display options.)
301 44 2015

st University of Gothenburg (17 Countries/Regions value(s) outside display options.)
460 62 2016

st University of Gothenburg (14 Countries/Regions value(s) outside display options.)
601 73 2017

st University of Gothenburg (11 Countries/Regions value(s) outside display options.)
772 82 2018

st University of Gothenburg (19 Countries/Regions value(s) outside display options.)
995 89 2019

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
4 1 2012

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
15 1 2013

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
34 1 2014

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
74 3 2015

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
108 6 2016

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
131 7 2017

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
173 8 2018

st Hanoi University of Science _ Technology (0 Countries/Regions value(s) outside display options.)
199 9 2019

In [11]:
df

,NLIQ,file,global_cites,local_cites,total_cites,year
0,0.300000,University of Helsinki,10.0,3.0,13.0,2012.0
1,0.200000,University of Helsinki,155.0,31.0,186.0,2013.0
2,0.195402,University of Helsinki,522.0,102.0,624.0,2014.0
3,0.165468,University of Helsinki,973.0,161.0,1134.0,2015.0
4,0.142765,University of Helsinki,1555.0,222.0,1777.0,2016.0
5,0.123963,University of Helsinki,2170.0,269.0,2439.0,2017.0
6,0.113106,University of Helsinki,2785.0,315.0,3100.0,2018.0
7,0.106608,University of Helsinki,3405.0,363.0,3768.0,2019.0
8,0.083333,University of Gothenburg,12.0,1.0,13.0,2012.0
9,0.160494,University of Gothenburg,81.0,13.0,94.0,2013.0
10,0.165644,University of Gothenburg,163.0,27.0,190.0,2014.0
11,0.146179,University of Gothenburg,301.0,44.0,345.0,2015.0
12,0.134783,University of Gothenburg,460.0,62.0,522.0,2016.0
13,0.121464,University of Gothenburg,601.0,73.0,674.0,2017.0
14,0.106218,University of Gothenburg,772.0,82.0,854.0,2018.0
15,0.089447,University of Gothenburg,995.0,89.0,1084.0,2019.0
16,0.250000,Hanoi University of Science _ Technology,4.0,1.0,5.0,2012.0
17,0.066667,Hanoi University of Science _ Technology,15.0,1.0,16.0,2013.0
18,0.029412,Hanoi University of Science _ Technology,34.0,1.0,35.0,2014.0
19,0.040541,Hanoi University of Science _ Technology,74.0,3.0,77.0,2015.0
20,0.055556,Hanoi University of Science _ Technology,108.0,6.0,114.0,2016.0
21,0.053435,Hanoi University of Science _ Technology,131.0,7.0,138.0,2017.0
22,0.046243,Hanoi University of Science _ Technology,173.0,8.0,181.0,2018.0
23,0.045226,Hanoi University of Science _ Technology,199.0,9.0,208.0,2019.0

#  Plot timeseries NLIQ of 3 universities

In [155]:
for uni in country_map:
    t = df[df['file'] == uni].sort_values(by='year',ascending=True)
    plt.scatter(t['year'],t['NLIQ'])
    plt.plot(t['year'],t['NLIQ'])
    plt.xlabel('Year')
    plt.ylabel('NLIQ')
    plt.title('Plot of year VS NLIQ')
    plt.savefig('graphs/Yearwise_timeseries_NLIQ/'+uni+'.jpg')
    plt.close()

# Plot NLIQ VS total citations

In [10]:
for uni in country_map:
    t = df[df['file'] == uni].sort_values(by='year',ascending=True)
    #print(t)
    plt.scatter(t['NLIQ'],t['total_cites'])
    plt.plot(t['NLIQ'],t['total_cites'])
    plt.ylabel('total cites')
    plt.xlabel('NLIQ')
    plt.title('Plot of total cites VS NLIQ')
    plt.savefig('graphs/NLIQ_VS_totalcites/nliqVScites'+uni+'.jpg')
    plt.close()
    #break

,NLIQ,file,global_cites,local_cites,total_cites,year
0,0.300000,University of Helsinki,10.0,3.0,13.0,2012.0
1,0.200000,University of Helsinki,155.0,31.0,186.0,2013.0
4,0.122164,University of Helsinki,1719.0,210.0,1929.0,2014.0
5,0.123963,University of Helsinki,2170.0,269.0,2439.0,2015.0
3,0.102811,University of Helsinki,1352.0,139.0,1491.0,2016.0
2,0.101299,University of Helsinki,770.0,78.0,848.0,2017.0
6,0.113106,University of Helsinki,2785.0,315.0,3100.0,2018.0
7,0.106608,University of Helsinki,3405.0,363.0,3768.0,2019.0